$white: #fffff7;
$light-green: #91ccbe;
$green: #3da8a4;
$orange: #ff6643;
$red: #ff152b;

body {
  background: $white;
  color: $green;
  font-family: "Source Sans Pro", "Hiragino Kaku Gothic ProN" sans-serif;
  margin: 0;
  padding: 0;
}

#contents {
  min-height: 415px;
}

h1 {
  font-size: 42px;
  line-height: 0.8em;
  margin: 0;
  padding: 15px;
}

input {
  background: $light-green;
  border: 0 $green solid;
  border-bottom-width: 3px;
  border-radius: 0;
  color: $white;
  font-size: 25px;
  margin: 0;
  padding: 17px 4%;
  width: 92%;
  &:focus {
    background: $white;
    color: $red;
  }
}

::-webkit-input-placeholder {
  color: $white;
  font-style: italic;
  font-family: serif;
}

.country {
  border-bottom: 1px $orange solid;
  color: $orange;
  &:after {
    clear: both;
    content: "";
    display: block;
  }
}

.code,
.name {
  float: left;
  display: block;
}

.code {
  font-size: 16px;
  padding: 6px 1% 0;
  width: 18%;
}

.name {
  font-size: 22px;
  line-height: 34px;
  width: 80%;
}

.highlight {
  background: lighten($red, 41%);
  border-bottom: 2px solid $red;
}

footer {
  bottom: 0;
  padding: 0 1%;
  position: fixed;
  width: 98%;
  .whats-this-content {
    background: $light-green;
    box-shadow: 3px 3px 5px rgba(99, 99, 99, 0.3);
    color: $white;
    font-size: 12px;
    line-height: 1.5;
    margin: 0 auto;
    padding: 3px 1%;
    width: 97%;
    p {
      margin: 0.2em 0;
    }
  }
  .whats-this-link {
    float: left;
    margin: 0;
    padding: 10px;
  }
  .copyright {
    float: right;
    margin: 0;
    padding: 10px;
    &:after {
      clear: both;
      content: "";
      display: block;
    }
  }
}
